# Home Credit Default Risk

## Objective: 

**When there is less or no credit history available, use the alternative data like the telecommunication and transactional data to predict the clients' repayment capabilities.**

### About Data

#### Let's look at the data

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

import seaborn as sns

In [3]:
print "numpy:", np.__version__
print "pandas:", pd.__version__

numpy: 1.12.1
pandas: 0.20.3

#### Process all files

In [6]:
import os

In [39]:
INPUT_PATH = "./input/"

file_list = os.listdir(INPUT_PATH)

print file_list[0]
print os.listdir(INPUT_PATH)

application_train.csv
['application_train.csv', 'bureau.csv', 'bureau_balance.csv', 'credit_card_balance.csv', 'installments_payments.csv', 'POS_CASH_balance.csv', 'previous_application.csv']

In [35]:
# read only 1000 records to easy visualizations..

app_train_df = pd.read_csv(INPUT_PATH+file_list[0]).sort_values(['SK_ID_CURR']).reset_index().loc[:1000, :].drop(['index'], axis=1)

In [52]:
prev_app_df = pd.read_csv(INPUT_PATH+file_list[6]).sort_values(['SK_ID_CURR', 'SK_ID_PREV']).reset_index().loc[:1000, :].drop(['index'], axis=1)

In [56]:
pos_cash_bal_df = pd.read_csv(INPUT_PATH+file_list[5]).sort_values(['SK_ID_CURR', 'SK_ID_PREV']).reset_index().loc[:1000, :].drop(['index'], axis=1)
credit_car_bal_df = pd.read_csv(INPUT_PATH+file_list[3]).sort_values(['SK_ID_CURR', 'SK_ID_PREV']).reset_index().loc[:1000, :].drop(['index'], axis=1)
install_payments_df = pd.read_csv(INPUT_PATH+file_list[4]).sort_values(['SK_ID_CURR', 'SK_ID_PREV']).reset_index().loc[:1000, :].drop(['index'], axis=1)

In [57]:
bureau_bal_df = pd.read_csv(INPUT_PATH+file_list[2]).sort_values(['SK_ID_BUREAU']).reset_index().loc[:1000, :].drop(['index'], axis=1)

In [58]:
bureau_df = pd.read_csv(INPUT_PATH+file_list[1]).sort_values(['SK_ID_CURR', 'SK_ID_BUREAU']).reset_index().loc[:1000, :].drop(['index'], axis=1)

In [53]:
bureau_df.shape

(1001, 17)

In [54]:
prev_app_df.shape

(1001, 37)

In [55]:
bureau_df.columns

Index([u'SK_ID_CURR', u'SK_ID_BUREAU', u'CREDIT_ACTIVE', u'CREDIT_CURRENCY',
       u'DAYS_CREDIT', u'CREDIT_DAY_OVERDUE', u'DAYS_CREDIT_ENDDATE',
       u'DAYS_ENDDATE_FACT', u'AMT_CREDIT_MAX_OVERDUE', u'CNT_CREDIT_PROLONG',
       u'AMT_CREDIT_SUM', u'AMT_CREDIT_SUM_DEBT', u'AMT_CREDIT_SUM_LIMIT',
       u'AMT_CREDIT_SUM_OVERDUE', u'CREDIT_TYPE', u'DAYS_CREDIT_UPDATE',
       u'AMT_ANNUITY'],
      dtype='object')

In [51]:
prev_app_df.columns

Index([u'SK_ID_PREV', u'SK_ID_CURR', u'NAME_CONTRACT_TYPE', u'AMT_ANNUITY',
       u'AMT_APPLICATION', u'AMT_CREDIT', u'AMT_DOWN_PAYMENT',
       u'AMT_GOODS_PRICE', u'WEEKDAY_APPR_PROCESS_START',
       u'HOUR_APPR_PROCESS_START', u'FLAG_LAST_APPL_PER_CONTRACT',
       u'NFLAG_LAST_APPL_IN_DAY', u'RATE_DOWN_PAYMENT',
       u'RATE_INTEREST_PRIMARY', u'RATE_INTEREST_PRIVILEGED',
       u'NAME_CASH_LOAN_PURPOSE', u'NAME_CONTRACT_STATUS', u'DAYS_DECISION',
       u'NAME_PAYMENT_TYPE', u'CODE_REJECT_REASON', u'NAME_TYPE_SUITE',
       u'NAME_CLIENT_TYPE', u'NAME_GOODS_CATEGORY', u'NAME_PORTFOLIO',
       u'NAME_PRODUCT_TYPE', u'CHANNEL_TYPE', u'SELLERPLACE_AREA',
       u'NAME_SELLER_INDUSTRY', u'CNT_PAYMENT', u'NAME_YIELD_GROUP',
       u'PRODUCT_COMBINATION', u'DAYS_FIRST_DRAWING', u'DAYS_FIRST_DUE',
       u'DAYS_LAST_DUE_1ST_VERSION', u'DAYS_LAST_DUE', u'DAYS_TERMINATION',
       u'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [47]:
bureau_df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.0,0.0,0.0,0.0,Consumer credit,-155,0.0
1,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.0,0.0,0.0,0.0,Consumer credit,-155,0.0
2,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5
3,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5
4,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0

In [38]:
print len(app_train_df.columns)
print app_train_df.shape

122
(1001, 122)

In [27]:
#?pd.read_csv
?pd.drop()

Object `pd.drop` not found.

In [37]:
app_train_df.columns

Index([u'SK_ID_CURR', u'TARGET', u'NAME_CONTRACT_TYPE', u'CODE_GENDER',
       u'FLAG_OWN_CAR', u'FLAG_OWN_REALTY', u'CNT_CHILDREN',
       u'AMT_INCOME_TOTAL', u'AMT_CREDIT', u'AMT_ANNUITY',
       ...
       u'FLAG_DOCUMENT_18', u'FLAG_DOCUMENT_19', u'FLAG_DOCUMENT_20',
       u'FLAG_DOCUMENT_21', u'AMT_REQ_CREDIT_BUREAU_HOUR',
       u'AMT_REQ_CREDIT_BUREAU_DAY', u'AMT_REQ_CREDIT_BUREAU_WEEK',
       u'AMT_REQ_CREDIT_BUREAU_MON', u'AMT_REQ_CREDIT_BUREAU_QRT',
       u'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [34]:
#app_train_df.drop(['index'], axis=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,101122,0,Cash loans,F,N,N,1,90000.000,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
972,101123,0,Cash loans,F,Y,Y,0,54000.000,188685.0,8122.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
973,101124,0,Cash loans,F,N,N,0,103500.000,848745.0,37516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
974,101127,1,Cash loans,M,Y,N,0,211500.000,835380.0,45445.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
975,101129,0,Cash loans,F,Y,Y,0,207000.000,1006920.0,37444.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,2.0
976,101130,0,Cash loans,F,Y,Y,0,67500.000,203760.0,10782.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
977,101131,0,Cash loans,M,N,Y,0,112500.000,350676.0,9774.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
978,101132,0,Revolving loans,F,N,Y,1,157500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
979,101133,0,Cash loans,F,N,Y,0,90000.000,284400.0,16011.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
980,101134,0,Cash loans,F,Y,N,0,135000.000,450000.0,23107.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
981,101135,0,Cash loans,F,Y,Y,1,135000.000,299772.0,21852.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
982,101137,0,Cash loans,M,N,Y,0,123300.000,497520.0,25758.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
983,101138,0,Cash loans,F,N,Y,0,202500.000,640080.0,24259.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
984,101139,0,Cash loans,F,Y,Y,1,112500.000,679500.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,4.0
985,101141,0,Cash loans,F,N,N,2,139500.000,135000.0,10795.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
986,101142,1,Cash loans,F,N,Y,2,135000.000,312768.0,17095.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
987,101143,0,Cash loans,F,N,Y,1,112500.000,1006920.0,42790.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
988,101144,0,Cash loans,F,N,N,0,90000.000,263686.5,28525.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
989,101145,0,Cash loans,M,Y,N,2,315000.000,840951.0,35761.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
990,101146,0,Cash loans,M,N,Y,0,38700.000,143910.0,15241.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
991,101147,1,Cash loans,M,N,Y,2,315000.000,1165500.0,34209.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
992,101148,0,Cash loans,F,Y,N,1,135000.000,490536.0,25888.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
993,101150,0,Cash loans,M,Y,Y,0,112500.000,835380.0,33259.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
994,101151,0,Cash loans,F,N,N,0,90000.000,760225.5,32337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
995,101152,0,Cash loans,F,N,N,0,112500.000,495985.5,17946.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
996,101153,0,Cash loans,F,N,Y,0,225000.000,1113840.0,57001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
997,101154,0,Cash loans,F,Y,Y,0,144000.000,517536.0,28206.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
998,101155,0,Cash loans,M,N,Y,0,315000.000,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0
999,101156,0,Cash loans,M,Y,Y,2,180000.000,679500.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1000,101157,0,Cash loans,F,Y,Y,0,135000.000,679500.0,22585.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
app_train_df.head()

,index,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### Data types

In [112]:
print len(app_train_df.dtypes)
all_col_list = app_train_df.columns.tolist()
int_list = app_train_df.dtypes[app_train_df.dtypes == 'int64'].index.tolist()
float_list = app_train_df.dtypes[app_train_df.dtypes == 'float64'].index.tolist()
cat_list = app_train_df.dtypes[app_train_df.dtypes == 'object'].index.tolist()
print "int type:", len(int_list)
print "float type:", len(float_list)
print "categorical type:", len(cat_list)

122
int type: 41
float type: 65
categorical type: 16

In [121]:
# remove salary
#int_list.remove('TARGET')
int_list.remove('SK_ID_CURR')

In [114]:
#app_train_df.dtypes[app_train_df.dtypes == 'int64']

### Get correlation info

In [123]:
import math
from __future__ import division
from scipy.stats import pearsonr

In [59]:
col_list = app_train_df.columns
print col_list

Index([u'SK_ID_CURR', u'TARGET', u'NAME_CONTRACT_TYPE', u'CODE_GENDER',
       u'FLAG_OWN_CAR', u'FLAG_OWN_REALTY', u'CNT_CHILDREN',
       u'AMT_INCOME_TOTAL', u'AMT_CREDIT', u'AMT_ANNUITY',
       ...
       u'FLAG_DOCUMENT_18', u'FLAG_DOCUMENT_19', u'FLAG_DOCUMENT_20',
       u'FLAG_DOCUMENT_21', u'AMT_REQ_CREDIT_BUREAU_HOUR',
       u'AMT_REQ_CREDIT_BUREAU_DAY', u'AMT_REQ_CREDIT_BUREAU_WEEK',
       u'AMT_REQ_CREDIT_BUREAU_MON', u'AMT_REQ_CREDIT_BUREAU_QRT',
       u'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [124]:
target = 'TARGET'

In [127]:
#get the correlation info
correlations = {} # dictionary
for f in int_list:
    data_temp = app_train_df[[f,target]]
    x1 = data_temp[f].values
    x2 = data_temp[target].values
    key = f + ' vs ' + target
    correlations[key] = pearsonr(x1,x2)[0]

In [128]:
correlations

{'CNT_CHILDREN vs TARGET': 0.025307164799204227,
 'DAYS_BIRTH vs TARGET': 0.08290688115231104,
 'DAYS_EMPLOYED vs TARGET': -0.010217880478518177,
 'DAYS_ID_PUBLISH vs TARGET': 0.055585456015736827,
 'FLAG_CONT_MOBILE vs TARGET': 0.015033826580673058,
 'FLAG_DOCUMENT_10 vs TARGET': nan,
 'FLAG_DOCUMENT_11 vs TARGET': -0.015033826580673053,
 'FLAG_DOCUMENT_12 vs TARGET': nan,
 'FLAG_DOCUMENT_13 vs TARGET': -0.012268922785474687,
 'FLAG_DOCUMENT_14 vs TARGET': -0.01226892278547469,
 'FLAG_DOCUMENT_15 vs TARGET': -0.0086710996952412012,
 'FLAG_DOCUMENT_16 vs TARGET': 0.011844202062334903,
 'FLAG_DOCUMENT_17 vs TARGET': nan,
 'FLAG_DOCUMENT_18 vs TARGET': 0.091700459338195289,
 'FLAG_DOCUMENT_19 vs TARGET': nan,
 'FLAG_DOCUMENT_2 vs TARGET': nan,
 'FLAG_DOCUMENT_20 vs TARGET': nan,
 'FLAG_DOCUMENT_21 vs TARGET': nan,
 'FLAG_DOCUMENT_3 vs TARGET': 0.020757005963141922,
 'FLAG_DOCUMENT_4 vs TARGET': nan,
 'FLAG_DOCUMENT_5 vs TARGET': -0.036041353404181221,
 'FLAG_DOCUMENT_6 vs TARGET': 0.0060709841049337828,
 'FLAG_DOCUMENT_7 vs TARGET': nan,
 'FLAG_DOCUMENT_8 vs TARGET': 0.00078615280226629846,
 'FLAG_DOCUMENT_9 vs TARGET': -0.017368271366201012,
 'FLAG_EMAIL vs TARGET': -0.0076141829878694205,
 'FLAG_EMP_PHONE vs TARGET': 0.011990562420175373,
 'FLAG_MOBIL vs TARGET': nan,
 'FLAG_PHONE vs TARGET': -0.015171556768552056,
 'FLAG_WORK_PHONE vs TARGET': 0.04961345448939989,
 'HOUR_APPR_PROCESS_START vs TARGET': -0.047848758021183678,
 'LIVE_CITY_NOT_WORK_CITY vs TARGET': 0.024858382784791962,
 'LIVE_REGION_NOT_WORK_REGION vs TARGET': 0.035033606725242666,
 'REGION_RATING_CLIENT vs TARGET': 0.048278671983182725,
 'REGION_RATING_CLIENT_W_CITY vs TARGET': 0.047879394280975034,
 'REG_CITY_NOT_LIVE_CITY vs TARGET': 0.015906540833456561,
 'REG_CITY_NOT_WORK_CITY vs TARGET': 0.049929959052144361,
 'REG_REGION_NOT_LIVE_REGION vs TARGET': 0.051328729559471514,
 'REG_REGION_NOT_WORK_REGION vs TARGET': 0.03404420855096367}

In [132]:
## go over float_list
for f in float_list:
    data_temp = app_train_df[[f,target]]
    x1 = data_temp[f].values
    x2 = data_temp[target].values
    key = f + ' vs ' + target
    correlations[key] = pearsonr(x1,x2)[0]

In [133]:
data_correlations = pd.DataFrame(correlations, index=['Value']).T
data_correlations.loc[data_correlations['Value'].abs().sort_values(ascending=False).index]

                                           Value
FLAG_DOCUMENT_18 vs TARGET              0.091700
DAYS_BIRTH vs TARGET                    0.082907
DAYS_LAST_PHONE_CHANGE vs TARGET        0.074258
DAYS_ID_PUBLISH vs TARGET               0.055585
REG_REGION_NOT_LIVE_REGION vs TARGET    0.051329
REG_CITY_NOT_WORK_CITY vs TARGET        0.049930
FLAG_WORK_PHONE vs TARGET               0.049613
REGION_RATING_CLIENT vs TARGET          0.048279
REGION_RATING_CLIENT_W_CITY vs TARGET   0.047879
HOUR_APPR_PROCESS_START vs TARGET      -0.047849
FLAG_DOCUMENT_5 vs TARGET              -0.036041
LIVE_REGION_NOT_WORK_REGION vs TARGET   0.035034
REG_REGION_NOT_WORK_REGION vs TARGET    0.034044
CNT_CHILDREN vs TARGET                  0.025307
LIVE_CITY_NOT_WORK_CITY vs TARGET       0.024858
AMT_ANNUITY vs TARGET                   0.024608
FLAG_DOCUMENT_3 vs TARGET               0.020757
FLAG_DOCUMENT_9 vs TARGET              -0.017368
DAYS_REGISTRATION vs TARGET             0.017294
REG_CITY_NOT_LIVE_CITY vs TARGET        0.015907
FLAG_PHONE vs TARGET                   -0.015172
FLAG_CONT_MOBILE vs TARGET              0.015034
FLAG_DOCUMENT_11 vs TARGET             -0.015034
REGION_POPULATION_RELATIVE vs TARGET    0.014177
FLAG_DOCUMENT_14 vs TARGET             -0.012269
FLAG_DOCUMENT_13 vs TARGET             -0.012269
FLAG_EMP_PHONE vs TARGET                0.011991
FLAG_DOCUMENT_16 vs TARGET              0.011844
DAYS_EMPLOYED vs TARGET                -0.010218
FLAG_DOCUMENT_15 vs TARGET             -0.008671
...                                          ...
FLOORSMAX_MEDI vs TARGET                     NaN
FLOORSMAX_MODE vs TARGET                     NaN
FLOORSMIN_AVG vs TARGET                      NaN
FLOORSMIN_MEDI vs TARGET                     NaN
FLOORSMIN_MODE vs TARGET                     NaN
LANDAREA_AVG vs TARGET                       NaN
LANDAREA_MEDI vs TARGET                      NaN
LANDAREA_MODE vs TARGET                      NaN
LIVINGAPARTMENTS_AVG vs TARGET               NaN
LIVINGAPARTMENTS_MEDI vs TARGET              NaN
LIVINGAPARTMENTS_MODE vs TARGET              NaN
LIVINGAREA_AVG vs TARGET                     NaN
LIVINGAREA_MEDI vs TARGET                    NaN
LIVINGAREA_MODE vs TARGET                    NaN
NONLIVINGAPARTMENTS_AVG vs TARGET            NaN
NONLIVINGAPARTMENTS_MEDI vs TARGET           NaN
NONLIVINGAPARTMENTS_MODE vs TARGET           NaN
NONLIVINGAREA_AVG vs TARGET                  NaN
NONLIVINGAREA_MEDI vs TARGET                 NaN
NONLIVINGAREA_MODE vs TARGET                 NaN
OBS_30_CNT_SOCIAL_CIRCLE vs TARGET           NaN
OBS_60_CNT_SOCIAL_CIRCLE vs TARGET           NaN
OWN_CAR_AGE vs TARGET                        NaN
TOTALAREA_MODE vs TARGET                     NaN
YEARS_BEGINEXPLUATATION_AVG vs TARGET        NaN
YEARS_BEGINEXPLUATATION_MEDI vs TARGET       NaN
YEARS_BEGINEXPLUATATION_MODE vs TARGET       NaN
YEARS_BUILD_AVG vs TARGET                    NaN
YEARS_BUILD_MEDI vs TARGET                   NaN
YEARS_BUILD_MODE vs TARGET                   NaN

[104 rows x 1 columns]

In [134]:
print len(int_list + float_list)

104

In [135]:
print app_train_df.shape

(1001, 122)